<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>Control.AccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonalServlet</servlet-name>
        <servlet-class>Control.customer.PersonalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInformationServlet</servlet-name>
        <servlet-class>Control.UpdateInformationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePasswordServlet</servlet-name>
        <servlet-class>Control.UpdatePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillServlet</servlet-name>
        <servlet-class>Control.customer.BillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeManagementServlet</servlet-name>
        <servlet-class>Control.admin.EmployeeManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateEmployeeServlet</servlet-name>
        <servlet-class>Control.admin.CreateEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEmployeeServlet</servlet-name>
        <servlet-class>Control.admin.DeleteEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderTicketServlet</servlet-name>
        <servlet-class>Control.employee.OrderTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmServlet</servlet-name>
        <servlet-class>Control.employee.ConfirmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderTicketServlet</servlet-name>
        <servlet-class>Control.employee.DeleteOrderTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCustomerServlet</servlet-name>
        <servlet-class>Control.employee.EditCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTicketServlet</servlet-name>
        <servlet-class>Control.employee.EditTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterOrderServlet</servlet-name>
        <servlet-class>Control.employee.FilterOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/AccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonalServlet</servlet-name>
        <url-pattern>/PersonalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInformationServlet</servlet-name>
        <url-pattern>/UpdateInformationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePasswordServlet</servlet-name>
        <url-pattern>/UpdatePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillServlet</servlet-name>
        <url-pattern>/BillServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeManagementServlet</servlet-name>
        <url-pattern>/EmployeeManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateEmployeeServlet</servlet-name>
        <url-pattern>/CreateEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEmployeeServlet</servlet-name>
        <url-pattern>/DeleteEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderTicketServlet</servlet-name>
        <url-pattern>/OrderTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmServlet</servlet-name>
        <url-pattern>/ConfirmServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderTicketServlet</servlet-name>
        <url-pattern>/DeleteOrderTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>orderServlet</servlet-name>
        <servlet-class>Control.customer.orderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectFlightServelt</servlet-name>
        <servlet-class>Control.customer.SelectFlightServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>promotionServlet</servlet-name>
        <servlet-class>Control.customer.promotionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ticketTypeServlet</servlet-name>
        <servlet-class>Control.customer.ticketTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateTicketType</servlet-name>
        <servlet-class>Control.employee.updateTicketType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginAdminServlet</servlet-name>
        <servlet-class>Control.admin.loginAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginEmployeeServlet</servlet-name>
        <servlet-class>Control.employee.loginEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>Control.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listPromotionServlet</servlet-name>
        <servlet-class>Control.employee.listPromotionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListServlet</servlet-name>
        <servlet-class>Control.UserListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>Control.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Control.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewHistoryServlet</servlet-name>
        <servlet-class>Control.customer.viewHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelTicketServlet</servlet-name>
        <servlet-class>Control.customer.cancelTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lookUpFlight</servlet-name>
        <servlet-class>Control.customer.lookUpFlight</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Verify</servlet-name>
        <servlet-class>Control.customer.Verify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListFlightServlet</servlet-name>
        <servlet-class>Control.employee.ListFlightServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addDistance</servlet-name>
        <servlet-class>Control.employee.addDistance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addFlight</servlet-name>
        <servlet-class>Control.employee.addFlight</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFlightServlet</servlet-name>
        <servlet-class>Control.employee.DeleteFlightServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListDistanceServlet</servlet-name>
        <servlet-class>Control.employee.ListDistanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePriceServlet</servlet-name>
        <servlet-class>Control.employee.UpdatePriceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListFlightServlet</servlet-name>
        <url-pattern>/ListFlightServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addDistance</servlet-name>
        <url-pattern>/addDistance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addFlight</servlet-name>
        <url-pattern>/addFlight</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFlightServlet</servlet-name>
        <url-pattern>/DeleteFlightServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListDistanceServlet</servlet-name>
        <url-pattern>/ListDistanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePriceServlet</servlet-name>
        <url-pattern>/UpdatePriceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Verify</servlet-name>
        <url-pattern>/Verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderServlet</servlet-name>
        <url-pattern>/orderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectFlightServelt</servlet-name>
        <url-pattern>/SelectFlightServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>promotionServlet</servlet-name>
        <url-pattern>/promotionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ticketTypeServlet</servlet-name>
        <url-pattern>/ticketTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateTicketType</servlet-name>
        <url-pattern>/updateTicketType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginAdminServlet</servlet-name>
        <url-pattern>/loginAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginEmployeeServlet</servlet-name>
        <url-pattern>/loginEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listPromotionServlet</servlet-name>
        <url-pattern>/listPromotionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListServlet</servlet-name>
        <url-pattern>/UserListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewHistoryServlet</servlet-name>
        <url-pattern>/viewHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelTicketServlet</servlet-name>
        <url-pattern>/cancelTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lookUpFlight</servlet-name>
        <url-pattern>/lookUpFlight</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchFlightServlet</servlet-name>
        <servlet-class>Control.SearchFlightServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchFlightServlet</servlet-name>
        <url-pattern>/SearchFlightServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCustomerServlet</servlet-name>
        <url-pattern>/EditCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTicketServlet</servlet-name>
        <url-pattern>/EditTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterOrderServlet</servlet-name>
        <url-pattern>/FilterOrderServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
